header {
    min-height: 250px;
    background: url("../../assets/img/hero-image-wr.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-content: center;
}
