.inline-info-single {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.title {
    color: #6C727F;
    font-weight: 500;
}
.value {
    color: #d3d5db;
    font-weight: 500;
    text-align: right;
}